version: "3"

services:
  spark:
    image: bitnami/spark:latest
    container_name: spark
    environment:
      - SPARK_MODE=master
    ports:
      - "7077:7077"
      - "8080:8080"

  airflow:
    image: apache/airflow:2.8.1
    container_name: airflow
    depends_on:
      - spark
    ports:
      - "8081:8080"
    volumes:
      - ./dags:/opt/airflow/dags
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
